{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 초기화</title>
  <link rel="stylesheet" href="{% static 'PwdResetEmail/email_reset.css' %}">
</head>
<body>
  <div class="reset-wrapper">
    <a href="/login/">
      <img src="{% static 'login/sso_logo.png' %}" alt="샘물 통합 로그인" class="logo">
    </a>

    <div class="title-area">
      <div class="lock-icon">🔒</div>
      <h2>비밀번호 초기화</h2>
    </div>

    <p class="instruction">
      학번/교직원번호, 성명을 입력 후 [인증번호 발송]을 눌러주시기 바랍니다.<br>
      학교에 등록된 이메일주소로 인증번호 6자리가 전송됩니다.<br>
      이메일로 전송된 인증번호 6자리를 입력 후 [확인]을 눌러주시기 바랍니다.
    </p>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

  <h3 style="text-align: left; font-size: 20px; margin-bottom: 20px; color: #003da5;">이메일 인증</h3>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="student_id" id="student_id" placeholder="학번/교직원번호" class="form-input"><br>
    <input type="text" name="name" id="name" placeholder="성명" class="form-input"><br>

    <div class="code-row">
      <input type="text" name="code" id="email_code" placeholder="인증번호 6자리" class="code-input">
      <button type="button" onclick="sendEmailCode()" class="code-btn">인증번호 발송</button>
    </div>

    <div class="btn-row">
      <button type="button" onclick="verifyEmailCode()" class="wide-btn">확인</button>
      <button type="button" onclick="location.href='/login/reset/'" class="wide-btn back">돌아가기</button>
    </div>
  </form>

  <div id="result" style="margin-top: 20px;"></div>


  </div>
</body>
</html>

<script>
const API_BASE = "http://127.0.0.1:8001";

async function sendEmailCode() {
  const student_id = document.getElementById("student_id").value;
  const name = document.getElementById("name").value;

  const res = await fetch(`${API_BASE}/api/send-email-code/`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ student_id, name})
  });

  const data = await res.json();
  alert(res.ok ? "이메일 전송 완료" : "실패: " + (data.error || "오류"));
}

async function verifyEmailCode() {
  const student_id = document.getElementById("student_id").value;
  const code = document.getElementById("email_code").value;

  const res = await fetch(`${API_BASE}/api/verify-email-code/`, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ student_id, code })
  });

  const data = await res.json();
  document.getElementById("result").innerHTML = res.ok
    ? `✅ 임시 비밀번호: <strong>${data.temp_password}</strong>`
    : `❌ ${data.error}`;
}
</script>
