{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 초기화</title>
  <link rel="stylesheet" href="{% static 'login/password_reset.css' %}">
</head>
<body>
  <div class="reset-wrapper">
      <a href="/login">
        <img src="{% static 'login/sso_logo.png' %}" alt="샘물 통합 로그인" class="logo">
      </a>
      
      <div class="title-area">
        <div class="lock-icon">🔒</div>
        <h2>비밀번호 초기화</h2>
      </div>

      <p class="instruction">
        다음 중 한 가지를 선택하여 비밀번호 초기화를 진행해주시기 바랍니다.<br>
        최초 비밀번호 초기화는 <strong>“휴대폰 본인 인증”, “이메일”, “카톡OTP(SMS)”</strong>로 진행해주시기 바랍니다.
      </p>

      <div class="btn-group">
        <button onclick="location.href='/PwdResetEmail/'">이메일<br>(학생/교직원)</button>
        <button onclick="location.href='/PwdResetSMS/'">메세지(SMS)<br>(학생/교직원)</button>
      </div>

      <button class="back-btn" onclick="location.href='/login/'">돌아가기</button>
    </div>
  </div>
</body>
</html>
