{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>통합 로그인</title>
    <link rel="stylesheet" href="{% static 'login/login.css' %}">
</head>
<body>
    <div class="page-wrapper">
        <form method="POST" class="login-container">
            <div class="header">
                <div class="lock-icon"></div>
                <h2>LOGIN</h2>
            </div>

            {% csrf_token %}
            <label for="username">학번/교직원번호</label><br>
            <input type="text" name="username" required placeholder="학번/교직원번호"><br><br>

            <label for="password">비밀번호</label><br>
            <input type="password" name="password" required placeholder="비밀번호"><br><br>

            <button type="submit">로그인</button>

            <div class="links-section">
                <a href="{% url 'login:password_reset' %}"><span class="arrow-icon">›</span> 비밀번호 초기화</a>
                <a href="#"><span class="arrow-icon">›</span> 학번/교직원번호 조회</a>
                <a href="#"><span class="arrow-icon">›</span> 로그인/로그아웃 유의사항</a>
            </div>
        </form>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</body>
</html>
